<!DOCTYPE html>
<html>
	<head>
		<title>Share-it</title>
		<link rel=icon href="../static/favicon.ico">
		<link rel=stylesheet type=text/css href="../static/css/bootstrap.css">
		<link rel=stylesheet type=text/css href="../static/css/styles.css">
	</head>
	<body>
		<div class="container-fluid bg text-white">
			<h1 class="row">
				<div class="col-md-12 text-right text-light">
					Share-It
				</div>
				<div class="col-md-12">
					<hr>
				</div>
			</h1>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
				<div class="row">
					<div class="col-md-12">
					{% for message in messages %}
						{{message}}
					{% endfor %}
					</div>
				</div>
				{% endif %}
			{% endwith %}
			<div class="row">
				<div class="col-md-12">
					<form action="/" method="post">
						<div>
						    <label for="password">Password:</label>
						    <input type="password" id="password" name="password">
						</div>
						<!-- <label for="uploadbar">Select file(s) to send</label><br> -->
						<!-- <input type="file" name="file5" id="uploadbar"><br> -->
						<!-- <br><br> -->
						<input type="submit" value="Sign in">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
